*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
*.obj
*\obj
*.scc
*.suo
*.ncb
*.vcproj
*.user
*.opt
*.clw
*.ncb
*.aps
*.mak
Thumbs.db
*\ipch
*\Debug
*\Release
*.sdf
*.bak
*\_UpgradeReport_File
*\.svn
*\_svn